## java files
*.class

## Package Files 
*.jar
*.war
*.ear

## generic files to ignore
## we ignore backup files (*~) and 
## vim swap file (.swp) and
## MacOS dir file (.DS_Store) and a
## any file with .out extension
*~
*.lock
*.DS_Store
*.swp
*.out


## eclipse/intellij project files
.project
.classpath
*.iml
.idea

## ignores maven target dir
target/*
